{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
  <div class="container text-center">
    {% if reuqest.path == '/create/' %}
      <h1>리뷰 작성</h1>
    {% elif request.path == '/update/' %}
      <h1>리뷰 수정</h1>
    {% endif %}
  </div>

  <form action="{% url 'reviews:index' %}" method="POST" class="form-control border border-white">
    {% csrf_token %}
    {% bootstrap_form reviews_form %}
    <input type="submit" value="등록" class="btn btn-outline-secondary text-dark">
  </form>
{% endblock content %}