{% extends 'base.html' %}

{% block content %}
  <div class="container mt-3">
    <h1 class="text-center">리뷰</h1>
    {% if request.user.is_authenticated %}
      <div class="d-flex justify-content-end">
        <a href="{% url 'reviews:create' %}" class="btn btn-light my-2">작성</a>
      </div>
    {% endif %}

    <div class="row">
      {% for review in reviews %}
        <div class="col-4 my-3" style="cursor: pointer;">
          <div class="card">
            {% if review.thumbnail.url %}
              <img src="{{ review.thumbnail.url }}" alt="{{ article.thumbnail }}" class="cared-img-top">
            {% endif %}
            <div class="card-body">
              <a href="{% url 'reviews:detail' review.pk %}">
                <h5 class="card-title">{{ reivew.title }}</h5>
              </a>
              <p class="card-text">
                <a href="{% url 'accounts:detail' review.pk %}" class="text-muted">{{ review.user.username }}</a>
              </p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
